<div class="container p-2">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header text-center" style="background-color: #2a85a947;">
                    <h3>Alumn@</h3>
                </div>
                <div class="card-body">
                    <h4>{{usuario.Nombre}}</h4>
                    <h5>{{usuario.Primer_Apellido}}</h5>
                    <h5>{{usuario.Segundo_Apellido}}</h5>
                    <h5>{{usuario.NUA}}</h5>
                    <h5>{{usuario.Correo}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>